.containers h2 {
     font-family:"Poppins", sans-serif;
     font-size:2rem;
}

.containers h2 span {
     border-bottom:3px solid var(--main-color);
}

.add-btn {
     background:#0d6efd;
     color:white;
     padding:5px 10px;
     font-size:12px;
     font-family: "Poppins", sans-serif;
     display:flex;
     align-items:center;
     justify-content:center;
     cursor: pointer;
     border-radius:5px;     
     text-decoration:none;
}

.add-btn:hover {
     background-color: #0b64ea;
}

.add-icon {
     font-size:2vw;
     margin-right:8px;
}

.publication-container {
     display:flex;
     flex-direction:column;
     align-items:flex-start;
     justify-content:flex-start;
     gap:10px;
}

.publication-container .box {
     display:flex;
     align-items:center;
     justify-content: space-between;
     flex-direction: row;
     width:90%;
     height:180px;
     cursor:pointer;
}

.publication-container .box .image {
     width:30%;
     height:100%;
}

.publication-container .box .image img {
     width: 100%;
     height:100%;
     border-radius:7px;
}

.publication-container .box .publication-title {
     width:60%;
     height:100%;
     display: flex;
     align-items:center;
     justify-content: center;
     flex-direction: column;
}

.publication-container .box .publication-title h3 {
     color:var(--text-color);
     font-size:1.5rem;
     font-family:"Poppins", sans-serif;
     font-weight:500;
}

.publication-container .box .publication-title p {
     color:var(--text-color);
     font-size:1rem;
     font-family:"Poppins", sans-serif;
     font-weight: 300;
     max-width:90%;
}

.title-footer {
     display:flex;
     align-items:center;
     justify-content: space-between;
     width:90%;
}

.title-footer h4 {
     color:rgb(118, 117, 117);
     font-size:.9rem;
     font-family:"Poppins", sans-serif;
     font-weight:500;
}

.publication-action {
     width:10%;
     display:flex;
     gap:10px;
     align-items:center;
     justify-content: center;
     flex-direction: column;
}

.update-btn:hover .update-icon {
     background: green; /* Optionnel : Changer la couleur au survol */
   }
   
   .update-icon {
     background-color: #198754;
     padding:10px 10px;
     border-radius:50%;
     font-size: 1.8vw; /* Taille de l'icône, ajustable */
     color: white;
   }

.delete-form {
     display: inline-block;
     margin: 0;
     padding: 0;
}

.delete-btn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
}

.delete-btn:hover .delete-icon {
     background: red; /* Optionnel : Changer la couleur au survol */
}

.delete-icon {
     background-color: #dc3545;
     padding:10px 10px;
     border-radius:50%;
     font-size: 1.8vw; /* Taille de l'icône, ajustable */
     color: white; /* Couleur de l'icône */
}

@media(max-width:990px) {
     .publications-container {
          width:100%;
     }

     .publication-container .box {
          width:100%;
          /* display:flex;
          align-items:center;
          justify-content: space-between;
          flex-direction: column;
          height:auto; */
     }
}

@media (max-width:450px) {
     .publication-container .box {
          margin-top:20px;
          display:flex;
          align-items:center;
          justify-content: space-between;
          flex-direction: column;
          height:auto;
          width:100%;
     }

     .publication-container .box .image {
          width:80%;
          height:20%;
     }

     .publication-container .box .image img {
          width:100%;
          height:100%;
     }

     .publication-container .box .publication-title {
          margin:10px 0 10px;
          width:90%;
          height:70%;
     }

     .publication-container .box .publication-action {
          display: flex;
          align-items:center;
          justify-content: center;
          width:90%;
          height:10%;
          flex-direction: row;
     }
}
   
